@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #eee;
}
:root {
    --green: green;
    --black: #130f40;
    --light-color:#666;
    --box-shadow: 0 1px 10px rgba(0,0,0.1);
    --box-shadow-for-products: 0 1px 4px rgba(0,0,0.1);
    --border: 2rem solid rgba(0,0,0.1);
    --outline: 0.1rem solid rgba(0,0,0.1);
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    overflow: auto;
}
.main {
    position: relative;
    margin-bottom: 30px;
}
.header .icons,.navbar {
    margin-left: auto;
}
.header header {
    position: fixed;
    width: 98%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 15px;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header a i {
    margin: 0 10px;
    color: green;
}
.header .logo {
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: #303030;
}
.navbar a {
    text-decoration: none;
    color: #000;
    margin: 0 20px;
    padding: 10px;
}
.navbar a:hover {
    background-color: green;
    color: #fff;
    border-radius: 5px;
}
.header .icons {
    display: flex;
    gap: 15px;
    width: fit-content;
}
.header .icons .icon {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    background: #eee;
}
.header .icons .icon:hover {
    color: white;
    background: var(--green);
}
.header .icons .bar-icon {
    display: none;
}
.search-bar {
    max-width: 300px;
    margin-left: auto;
    position: absolute;
    right: -110%;
    top: 67px;
    transition: 0.2s linear;
}
.search-bar.active {
    right: 10px;
}
.shopping-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.product-section {
    display: flex;
    align-items: center;
}
.cart-section {
    margin: 10px;
    padding: 10px 20px;
    position: absolute;
    top: 100%;
    right: -110%;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.3s linear;
}
.cart-section.active {
    right: 10px;
}
.cart-section .product-section img {
    height: 150px;
}
.cart-section .fa-trash {
    cursor: pointer;
}
.shop-btn {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}
.shop-btn button {
    cursor: pointer;
    padding: 10px 50px;
    border-radius: 10px;
}
.shop-btn button:hover {
    background-color: green;
    color: #fff;
}
.cart-section .fa-trash:hover, .organic,.features-section .heading,.products-section .heading,.customer-reviews .heading, .product-categories .heading {
    color: green;
}
.total h2 {
    text-align: center;
}
.checkout-btn {
    border-radius: 10px;
    margin: 10px auto;
    text-decoration: none;   
    background: green;
    padding: 10px 100px;
    cursor: pointer;
}
.checkout-btn a {
    text-decoration: none;
    color: #fff;;
    font-size: 20px;
}
.checkout-btn:hover {
    background: #130f40;
}
.menu-bar {
    display: none;
}
/*  Home Section CSS Starts */
.home-section {
    padding: 0 15px;
    display: flex;
    align-items: center;
    background-image: url('../image/banner-img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}
.content-section {
    max-width: 650px;
    margin: 0 auto;
}
.home-section h2 {
    padding: 15px 0;
}

/*  Home Section ends */

/*  Features Section start */
.features-section h2,.products-section h2,.product-categories h2, .customer-reviews h2 {
    text-align: center;
}
.features-cards, .products-section .products,.product-categories .categories-cards, .customer-reviews .reviews {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 0 10px;
}
.features-cards .card , .products-section .card, .categories-cards .card, .customer-reviews .card {
    background: #fff;
    border-radius: 10px;
    padding: 20px 10px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.features-cards .card:hover, .products-section .card:hover,.categories-cards .card:hover {
    box-shadow: 1px 1px 10px 4px green;
    cursor: pointer;
}
.features-cards .card p, .products-section .card p {
    text-align: center;
}
.features-cards .card .title, .products-section .card .title, .categories-cards .card .title {
    margin: 10px 0 0;
    font-weight: 700;
    font-size: 20px;
}
.features-cards .card .description,.products-section .card .description{
    margin: 5px 0 10px;
    flex-grow: 1;
}
.features-cards .card .image, .products-section .card .image,  .categories-cards .card .image {
    min-height: 174px;
}
.features-cards .card .read-more, .products-section .card .add-to-cart, .categories-cards .card .shop-now, .customer-reviews .card .icons  { 
    margin-top: auto;
    border-radius: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-size: 16px;
}
.features-cards .card .read-more:hover, .products-section .card .add-to-cart:hover,  .categories-cards .card .shop-now:hover {
    background-color: green;
    color: white;
    border: none;
}
/*  Features Section End */

/*  Products Section start */
    .products-section .card {
        box-shadow: var(--box-shadow-for-products);
    }
    .products-section .products .card img {
        max-width: 235px;
    }
    .products-section .products .card .price {
        margin: 0;
    }
    .products-section .products .card .icons, .customer-reviews .card .icons {
        margin-bottom: 10px;
        display: flex;
        color: yellow;
        justify-content: center;
        gap: 2px;
    }
    .products-section .title-and-arrowstoslide {
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: center;
    }
    .products-section .title-and-arrowstoslide .title {
        width: fit-content;
    }
    .products-section .title-and-arrowstoslide .arrows-to-slide {
        display: flex;
        gap: 10px;
    }
    .products-section .title-and-arrowstoslide .arrows-to-slide i {
        background-color: #fff;
        border-radius: 50%;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .slick-list.draggable {
        margin: 0 auto;
        padding: 10px;
        max-width: 1000px;
    }
    .slick-initialized .slick-slide {
        display: flex !important;
        margin: 0 15px;
    }
/*  Products Section End */

/*  Products Category Section Start */
    .categories-cards .card, .customer-reviews .reviews .card {
        min-width: 284px;
        padding: 10px;
    }
    .categories-cards .discount-value {
        color: green;
        font-weight: 700;
        font-size: 20px;
    }
/*  Products Category End */

/*  Testimonial Section Start */
    .customer-reviews .reviews .card img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    .customer-reviews .reviews .card .description {
        text-align: center;
        flex-grow: 1;
    }
    .customer-reviews .reviews .card .name {
        font-weight: 700;
        font-size: 18px;
        margin: 0;
        margin-top: auto;
    }

    /* Footer Section Starts */
    .footer-section {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        background: #fff;
        padding: 15px;
        justify-content: space-around;
    }
    .footer-section .groco {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .footer-section .groco, .contact-info, .quick-links, .newsletter {
        max-width: 300px;
    }
    .footer-section .groco .fa-basket-shopping {
        color: green;
    }
    .footer-section .social-icons {
        display: flex;
        gap: 10px;
        font-size: 25px;
    }
    .footer-section .social-icons i {
        padding: 10px;
        background: #eee;
        border-radius: 10px;
    }
    .footer-section .contact-info, .quick-links, .newsletter {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer-section i {
        color: green;
    }
    .quick-links .links {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .footer-section .contact-info span, .quick-links .links span {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .newsletter input {
        padding: 10px;
    }
    .footer-section .newsletter .subscribe-btn {
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 16px;
        max-width: 130px;
        border: 3px solid #000;
        cursor: pointer;
    }
    .footer-section .newsletter .subscribe-btn:hover {
        background: green;
        color: white;
        border-color: white;
        border-radius: 10px;
    }
    .footer-section .newsletter .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer-section .newsletter .content p {
        margin: 0;
    }
    /* Footer Section Ends */
/*  Media Queries */
@media screen and (max-width: 780px) {
    .header .icons .bar-icon  {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -110%;
        display: flex;
        flex-direction: column;
        text-align: center;
        min-width: 350px;
        background-color: #fff;
        margin-top: 10px;
        border-radius: 10px;
        transition: 0.3s linear;
    }
    .navbar.active {
        right: 10px;
    }
    .navbar a {
        margin: 10px 0;
    }
    .products-section .slick-list.draggable {
        max-height: 420px;
    }
    /* .products-section .card.slick-slide {
        min-width: 250px;
    } */
}

@media screen and (max-width: 480px) {
    .header header {
        width: 92%;
    }
    .home-section {
        padding: 40px 20px 20px;
    }
    .footer-section {
        justify-content: center;
        gap: 30px;
    }
    .footer-section .groco, .contact-info, .quick-links, .newsletter {
        text-align: center;
        justify-content: center;
    }
    .footer-section .groco .social-icons {
        justify-content: center;
    }
}



